body{
    display:flex;
    font-family:roboto,sans-serif;
}

.side{
    background-color: #0E0E0E;
    flex-grow:1;
    flex-shrink:1;
}

.mid{
flex:7;
display:flex;
flex-direction: column;
}

.header{
    display:flex;
    background-color:#1f2937;
    justify-content: space-between;
    padding-left:120px;
    padding-right:120px;
}


h1{
    color:#f9faf8;
    font-size: 24px;
}

.header-link{
    display:flex;
    gap:20px;
    align-items: center;
}

.header-link li{
    list-style:none;
   
}

.header-link a{
    color:#e5e7eb;  
    text-decoration: none;
    font-size: 18px;
}

.top{
    display:flex;
    background-color:#1f2937;
    justify-content: space-between;
    padding-left:120px;
    padding-right:100px;
    gap:40px;
}

.title{
    display:flex;
    flex-direction: column;
}

.title h2{
    font-size: 48px;
    font-weight:bolder;
    color:#f9faf8;
    margin-bottom:8px;

}

.title p{
    font-size: 18px;
    color: #e5e7eb;
}

.title button{
    background-color: #3882f6;
    width:82px;
    height:30px;
    border-radius: 25px;
    align-items: center;
    color:#e5e7eb;
    border:0;

}

.top img{
    height:290px;
}

